<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>  
</div>
<!--
<input type="text" [(ngModel)]="num1" />
<input type="text" [(ngModel)]="num2"/>
<span [innerHtml]="num1"></span><span [innerHtml]="num2"></span>
<p>{{num1+num2}}</p>

<h1>{{newletter1}}</h1>
<span>{{number1}}</span>+<span>{{number2}}</span>
<br>
<span>{{number2+number1}}</span>
<br>
<span>{{number2-number1}}</span> -->

<!--
Age :: <input type="text" [value]="tempdata"/>

<h2>{{tabletitle}}</h2>
Physics : <input type="text" [value]="physics"/>
<br>
Maths : <input type="text" [value]="maths"/>
<br>
Chemistry : <input type="text" [value]="chemistry"/>
<br>
English : <input type="text" [value]="english"/>
<br>
Hindi : <input type="text" [value]="hindi"/>
<br>
Total : <input type="text" [value]="total"/>

<hr>
<button (click)="show()">Click Here</button>
<p>{{totalValue}}</p>

<input type="text" [(ngModel)]="numfield1"/><br>


<input type="text" [(ngModel)]="numfield2"/><br>
<button type="buttom" (click)="sum()">Click Me</button> -->

<!--
<app-test1></app-test1>

<app-crud></app-crud>
-->


<!-- <app-test2></app-test2> -->

<!-- <app-firebasetest></app-firebasetest> -->

<!-- <app-doctor></app-doctor> -->

<!-- <app-student></app-student> -->


<!-- <app-todotask></app-todotask> -->

 <app-taskmanagement></app-taskmanagement>



<!-- <app-example></app-example> -->

 <!-- <app-cities></app-cities> -->

  <!-- <app-patient></app-patient>  -->

 <!-- <app-calcservice></app-calcservice>

 <app-newcal></app-newcal> -->
